streamlit
youtube-transcript-api
openai-whisper
sentence-transformers
faiss-cpu
chromadb
torch
transformers
bitsandbytes
accelerate
langchain==0.3.0
python-dotenv
llama_index==0.14.6
pydantic==2.12.3
